<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Analyzer</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
</head>
<body>
    <div class="navbar">
        <a href="/">Home</a>
        <a href="/Admin_login">Admin Access</a>
    </div><hr>
    <div class="moving-text-container">
        <p class="moving-text">WELCOME! Give the URL of an Article of The Times of India! Get News! </p>
    </div>
    <div class="content">
    <form action="/submit" method="POST">
        <input type="text" name="url" placeholder="Enter URL from The Times of India"><br>
            <p style="color: red;">{{ message }}</p><br>
        <button type="submit">Get News</button>
    </form>

    <form action="/login_page">
    <button type="submit">View History</button>
    </form>
    </div>
</body>
</html>
